@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #ff82ab;
    --color-secondary: #f9e076;
    --color-tertiary: #98ffd9;
    --color-neutral: #fffbf5;
    --color-light-green: #73d9b5;
    --color-light-yellow: #fff1be;
    --color-light-rose: #ffb1c6;
    --color-button: #e06992;
    --font-family-sans: "Montserrat", system-ui, sans-serif;
}
